body {
    padding-top: 0px; 
}
.menu {
    position: fixed;
    width: 88%;
    height: 70px;
    background-color: #222;
    font-family: Arial;
    }
   
    .menu ul {
    list-style: none;
    position: fixed;
    }
   
   .menu ul li {
    width: 250px;
    float: left;
    }
   
   .menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    }
   
   .menu a:hover {
    background-color: #f4f4f4;
    color: #555;
    }

    label[for=”bt_menu”]{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
   
   #bt_menu {
    display: none;
    }
   
   label[for=”bt_menu”]{
    display: none;
    }
   
   @media(max-width: 800px) {
   label[for=”bt_menu”] {
    display: block;
    }
     
   #bt_menu:checked ~ .menu{
    margin-left: 0;
    }
     
   .menu{
    position: fixed;
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    }
     
   .menu ul li {
    width: 100%;
    float: none;
    }
     
   .menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all 4s;
    }
     
   .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    }
}
footer {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: auto;
  }